@require '~vuetify/src/stylus/settings/_colors'

$theme := {
  primary: $blue.base
  accent: $cyan.accent-2
  secondary: $deep-purple.accent-2
  info: $blue.lighten-1
  warning: $amber.darken-2
  error: $red.accent-4
  success: $green.lighten-2
}

@require '~vuetify/src/stylus/main'
