$fontFamily: Roboto, Lato, sans-serif;

$transparent: rgba(0, 0, 0, 0);
$fullBlack: rgba(0, 0, 0, 1);
$darkBlack: rgba(0, 0, 0, 0.87);
$lightBlack: rgba(0, 0, 0, 0.54);
$minBlack: rgba(0, 0, 0, 0.26);
$faintBlack: rgba(0, 0, 0, 0.12);
$fullWhite: rgba(255, 255, 255, 1);
$darkWhite: rgba(255, 255, 255, 0.87);
$lightWhite: rgba(255, 255, 255, 0.54);

// primary and accent
$primaryColor: color('light-blue', 'default');
$darkerPrimaryColor: color('light-blue', 'darken-2');
$lighterPrimaryColor: color('grey', 'lighten-1');
$accentColor: color('pink', 'accent-2');
$darkerAccentColor: color('grey', 'lighten-4');
$lighterAccentColor: color('grey', 'base');

// textColor or borderColor
$textColor: $darkBlack;
$secondaryTextColor: rgba($fullBlack, .54);
$alternateTextColor: color('shades', 'white');
$borderColor: rgba($fullBlack, .12);
$disabledColor: rgba($fullBlack, .38);

// background
$backgroundColor: color('shades', 'white');
$statusBarBackgroundColor: color('grey', 'lighten-2');
$appbarBackgroundColor: color('grey', 'lighten-4');
$dialogBackgroundColor: color('shades', 'white'); // dialogs or cards

// icon color
$activeIconColor: rgba($fullBlack, .54);
$inActiveIconColor: rgba($fullBlack, .38);

// spaceing
$iconSize: 24px;
$desktopGutter: 24px;
$desktopGutterMore: 32px;
$desktopGutterLess: 16px;
$desktopGutterMini: 8px;
$desktopKeylineIncrement: 64px;
$desktopDropDownMenuItemHeight: 32px;
$desktopDropDownMenuFontSize: 15px;
$desktopDrawerMenuItemHeight: 48px;
$desktopSubheaderHeight: 48px;
$desktopToolbarHeight: 56px;

// animate
$easeOutFunction: cubic-bezier(0.23, 1, 0.32, 1);
$easeInOutFunction: cubic-bezier(0.445, 0.05, 0.55, 0.95);


// All colors elements
$appbarColor: $primaryColor;
$appbarTextColor: $alternateTextColor;

$avatarColor: $alternateTextColor;
$avatarBackgroundColor: darken($alternateTextColor, 26%);

$badgeColor: $lighterPrimaryColor;
$badgeTextColor: $alternateTextColor;
$badgePrimaryColor: $primaryColor;
$badgePrimaryTextColor: $alternateTextColor;
$badgeSecondaryColor: $accentColor;
$badgeSecondaryTextColor: $alternateTextColor;

$baseFontFamily: $fontFamily;
$baseTextColor: $textColor;
$baseBackgroundColor: $backgroundColor;
$baseLinkColor: $accentColor;

$bottomNavBackgroundColor: $dialogBackgroundColor;
$bottomNavShiftBackgroundColor: $primaryColor;
$bottomNavUnselectedColor: $secondaryTextColor;
$bottomNavShiftUnselectedColor: rgba($alternateTextColor, .7);
$bottomNavSelectedColor: $primaryColor;
$bottomNavShiftSelectedColor: $alternateTextColor;

$bottomSheetColor: $dialogBackgroundColor;

$cardBackgroudColor: $backgroundColor;
$cardTitleColor: rgba($textColor, .87);
$cardSubtitleColor: rgba($textColor, .54);
$cardMediaColor: $darkWhite;
$cardMediaOverlayContentBackground: $lightBlack;
$cardMediaTitleColor: $darkWhite;
$cardMediaSubtitleColor: $lightWhite;
$cardTextColor: $textColor;

$checkboxColor: $textColor;
$checkboxTextColor: $textColor;
$checkboxDisabledColor: $disabledColor;
$checkboxCheckedColor: $primaryColor;

$chipColor: darken($alternateTextColor, 12%);
$chipHoverColor: rgb(206, 206, 206);
$chipTextColor: rgba($textColor, .87);
$chipDeleteColor: rgba($textColor, .26);
$chipHoverDeleteColor: rgba(rgba($textColor, .26), .4);

$circularProgressColor: $primaryColor;

$datePickerColor: $primaryColor;
$datePickerTextColor: $alternateTextColor;
$datePickerCalendarTextColor: $textColor;
$datePickerSelectColor: $primaryColor;
$datePickerSelectTextColor: $alternateTextColor;
$datePickerCalendarYearBackgroundColor: $dialogBackgroundColor;
$datePickerHeaderColor: $primaryColor;

$dialogBorderColor: $borderColor;
$dialogTitleColor: $textColor;
$dialogBodyColor: rgba($textColor, .6);;
$dialogColor: $dialogBackgroundColor;

$dropDownMenuTextColor: $textColor;
$dropDownMenuIconColor: $borderColor;
$dropDownMenuLineColor: $borderColor;

// flatButton
$flatButtonColor: transparent;
$flatButtonTextColor: $textColor;
$flatButtonPrimaryTextColor: $primaryColor;
$flatButtonSecondaryTextColor: $accentColor;

// floatButton
$floatButtonColor: $primaryColor;
$floatButtonIconColor: $alternateTextColor;
$floatButtonSecondaryColor: $accentColor;
$floatButtonSecondaryIconColor: $alternateTextColor;
$floatButtonDisabledColor: darken($alternateTextColor, 12%);
$floatButtonDisabledIconColor: rgba($textColor, .3);

$gridListTextColor: color('shades', 'white');
$gridListTitlebarColor: rgba(0, 0, 0, 0.4);

// circle
$circleColor: $primaryColor;
$circleSecondaryColor: $accentColor;

$linearProgressColor: $lighterPrimaryColor;
$linearProgressFillColor: $primaryColor;

// listItem
$listTextColor: $textColor;
$listHoverColor: rgba($listTextColor, .1);
$listSecondaryTextColor: $secondaryTextColor;
$listLeftIconColor: color('grey', 'darken-1');
$listRightIconColor: color('grey', 'darken-1');
$listSelectedColor: $primaryColor;

$menuTextColor: $textColor;
$menuSelectColor: $accentColor;
$menuHoverColor: rgba(0, 0, 0, .1);
$menuDisabledColor: $disabledColor;
$menuLeftIconColor: color('grey', 'darken-1');
$menuRightIconColor: color('grey', 'darken-1');

$paginationTextColor: $textColor;
$paginationHoverBackgroundColor: rgba(0, 0, 0, .1);
$paginationActiveBackgroundColor: $primaryColor;
$paginationActiveColor: color('shades', 'white');
$paginationDisabledColor: $disabledColor;

$paperColor: $textColor;
$paperBackgroundColor: $dialogBackgroundColor;

$pickerColor: $dialogBackgroundColor;
$pickerTextColor: $secondaryTextColor;
$pickerSelectedTextColor: $textColor;
$pickerBorderColor: $borderColor;

$popoverColor: $dialogBackgroundColor;

$popupColor: $dialogBackgroundColor;

$radioColor: $textColor;
$radioTextColor: $textColor;
$radioDisabledColor: $disabledColor;
$radioCheckedColor: $primaryColor;

// raisedButton
$raisedButtonColor: $alternateTextColor;
$raisedButtonTextColor: $textColor;
$raisedButtonPrimaryColor: $primaryColor;
$raisedButtonSecondaryColor: $accentColor;
$raisedButtonDisabledColor: darken($alternateTextColor, 10%);
$raisedButtonDisabledTextColor: rgba($textColor, .3);

$refreshControlColor: $primaryColor;

$sliderTrackColor: $lighterPrimaryColor;
$sliderSelectionColor: $primaryColor;
$sliderDisabledColor:  $lighterPrimaryColor;
$sliderZeroColor: $alternateTextColor;

$snackbarColor: $textColor;
$snackbarTextColor: $alternateTextColor;

$stepperBackgroundColor: transparent;
$stepperHoverBackgroundColor: rgba($textColor, .06);
$stepperIconColor: $primaryColor;
$stepperHoveredIconColor: color('grey', 'darken-2');
$stepperInactiveIconColor: color('grey', 'base');
$stepperTextColor: $textColor;
$stepperNumTextColor: $alternateTextColor;
$stepperDisabledTextColor: $disabledColor;
$stepperConnectorLineColor: color('grey', 'lighten-1');

// subHeader
$subHeaderColor: $secondaryTextColor;

$switchThumbOnColor: $primaryColor;
$switchThumbOffColor: $darkerAccentColor;
$switchThumbDisabledColor: color('grey', 'lighten-2');
$switchTrackOnColor: rgba($primaryColor, .5);
$switchTrackOffColor: $lighterPrimaryColor;
$switchTrackDisabledColor: $lighterPrimaryColor;
$switchTextColor: $textColor;
$switchTextDisabledColor: $disabledColor;

$tableBackgroundColor: $alternateTextColor;
$tableBorderColor: $borderColor;
$tableTextColor: $textColor;
$tableRowSelectedBackgroundColor: color('grey', 'lighten-4');
$tableRowHoverBackgroundColor: color('grey', 'lighten-5');
$tableRowStripeBackgroundColor: rgba(lighten($primaryColor, 50%), .4);
$tableTheadTextColor: $secondaryTextColor;

$tabsBackgroundColor: $primaryColor;
$tabsLineColor: $accentColor;
$tabsTextColor: rgba($alternateTextColor, .7);
$tabsSelectedTextColor: $alternateTextColor;

$textFieldTextColor: $secondaryTextColor;
$textFieldInputColor: $textColor;
$textFieldHintColor: $disabledColor;
$textFieldFocusTextColor: $primaryColor;
$textFieldDisabledTextColor: $disabledColor;
$textFieldErrorTextColor: color('red', 'base');
$textFieldLineColor: $borderColor;
$textFieldFocusLineColor: $primaryColor;
$textFieldErrorLineColor: color('red', 'base');;
$textFieldDisabledLineColor: $disabledColor;

$timePickerColor: $alternateTextColor;
$timePickerClockColor: $textColor;
$timePickerClockCircleColor: rgba($darkBlack, .07);
$timePickerSelectColor: $primaryColor;
$timePickerSelectTextColor: $alternateTextColor;
$timePickerHeaderColor: $primaryColor;

$toastTextColor: $alternateTextColor;
$toastColor: $textColor;

$tooltipTextColor: $alternateTextColor;
$tooltipRippleColor: color('grey', 'darken-2');
